.social-icons {
  /* Dimensions (width and height) */
  width: 40px;
  height: 40px;

  /* Fill color (used because of fill="currentColor") */
  color: #FFFFFF;

  /* Stroke color */
  stroke: #222222;
  stroke-width:1.3px;

  /* Drop shadow effect */
  /* filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.05)); */
  filter: drop-shadow(0 0 1.5px rgba(0,0,0,0.3))
          drop-shadow(0 0 1px rgba(0,0,0,0.05));
  transition: filter 0.3s ease;
}

.arrow {
  /* Dimensions (width and height) */
  width: 20px;
  height: 20px;
  
  stroke: #222222;
  stroke-width:5px;

  /* Drop shadow effect */
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.3))
          drop-shadow(0 0 1px rgba(0,0,0,0.05));

  transition: filter 0.3s ease;
}


.img-face {
  object-fit: contain;
  object-position: 50% 50%; /* adjust the position of the image */
  transform: scale(1.2) translateY(7%);

}

/* KATEX Settings */

.katex {
  font-size: 1em !important;     
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* If using display mode (block equations), maybe smaller default, or adjust margin */
.katex-display {
  font-size: 1em !important;
}

/* globals.css or a component style */
.text-shadow-sm {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.group:hover .text-shadow-hover {
  text-shadow: 0 0 2px rgba(0,0,0,1), 
               0 0 2px rgba(0,0,0,0.5);
}

.group:hover .hover-shadow {
  filter: drop-shadow(0 0 1px rgba(0,0,0,1)) 
          drop-shadow(0 0 1px rgba(0,0,0,0.5));
}

.ref-shadow-hover:hover {
  text-shadow: 0 0 2px rgba(0,0,0,1),
               0 0 2px rgba(0,0,0,0.5);
}