/* @import "./base.css"; */
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif;
}

/* custom CSS classes */
@layer components {
  .noto-h1 {
    font-family: var(--font-sans);
    font-variation-settings: "wdth" 100;
    font-weight: var(--font-weight, 650);
  }
  .noto-h2 {
    font-family: var(--font-sans);
    font-variation-settings: "wdth" 90;
    font-weight: var(--font-weight, 500);
  }
  .noto-h3 {
    font-family: var(--font-sans);
    font-variation-settings: "wdth" 90;
    font-weight: var(--font-weight, 350);
  }
  .noto-links {
    font-family: var(--font-sans);
    font-variation-settings: "wdth" 100;
    font-weight: var(--font-weight, 500);
    letter-spacing: 0.1rem;
  }
  .noto-body {
    font-family: var(--font-sans);
    font-variation-settings: "wdth" 100;
    font-weight: var(--font-weight, 400);
  }
}